.UserOutput{
    border: 1px solid #ccc;
    box-shadow: 1px 2px 2px #aaa;
    width: 20%;
    margin: 10px;
    padding: 10px;
    font: inherit;
    display: inline-block;
    background-color: aliceblue;
}