body {
  background: linear-gradient(to bottom, #aaa 5%, black 80%);
  background-repeat: space;
  height: 1080px;
}

.App {
  background-color: white;
  text-align: center;
  border: 1px double #27a;
  margin: 20px auto;
  width: 70%;
  padding: 20px 5px;
}

.App button {
  background-color: white;
  border: 1px solid blue;
  font: inherit;
  padding: 8px;
  margin: 5px;
  cursor: pointer;
}

.App button:hover {
  color: white;
  background-color: #27a;
}